data/sounds/sounds.dtd

<!ELEMENT sounds (soundbase,creature?,npc?,(compound)+,(entry)+)>

<!ELEMENT soundbase (#PCDATA)>
<!ATTLIST soundbase	key CDATA #REQUIRED>

<!ELEMENT creature (compound)+>
<!ELEMENT npc (compound)+>

<!ELEMENT compound (entry)+>
<!ATTLIST compound	name CDATA #REQUIRED>
	
<!ELEMENT entry (#PCDATA)>
<!ATTLIST entry	key CDATA #REQUIRED>

